<!--form to create new covid case-->

<h2>Create a new Covid-19 case</h2>

<form class="" action="/cases" method="POST">

  <h3>Rate the following CDC Covid-19 symptoms that you are experiencing on a scale from 1 - 10, where 1 is lowest in severity, and 10 is the highest.</h3>
  <br />
  <p><strong>Cough</strong></p>
  <div>
    <input type="radio" id="1" name="cough" value="1"/>
    <label for="cough">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="cough" value="2" />
    <label for="cough">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="cough" value="3" />
    <label for="cough">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="cough" value="4" />
    <label for="cough">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="cough" value="5" />
    <label for="cough">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="cough" value="6" />
    <label for="cough">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="cough" value="7" />
    <label for="cough">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="cough" value="8" />
    <label for="cough">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="cough" value="9" />
    <label for="cough">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="cough" value="10" />
    <label for="cough">10</label>
  </div>



</form>
