<!--form to create new covid case-->

<h2>Create a new Covid-19 case</h2>

<form class="" action="/cases" method="POST">

  <h3>Rate the following CDC Covid-19 symptoms that you are experiencing on a scale from 1 - 10, where 1 is lowest in severity, and 10 is the highest.</h3>
  <br />
  <p><strong>Cough</strong></p>
  <div>
    <input type="radio" id="1" name="cough" value="1"/>
    <label for="cough">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="cough" value="2" />
    <label for="cough">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="cough" value="3" />
    <label for="cough">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="cough" value="4" />
    <label for="cough">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="cough" value="5" />
    <label for="cough">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="cough" value="6" />
    <label for="cough">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="cough" value="7" />
    <label for="cough">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="cough" value="8" />
    <label for="cough">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="cough" value="9" />
    <label for="cough">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="cough" value="10" />
    <label for="cough">10</label>
  </div>




  <br />
  <p><strong>Difficulty Breathing</strong></p>
  <div>
    <input type="radio" id="1" name="difficulty_breathing" value="1"/>
    <label for="difficulty_breathing">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="difficulty_breathing" value="2" />
    <label for="difficulty_breathing">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="difficulty_breathing" value="3" />
    <label for="difficulty_breathing">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="difficulty_breathing" value="4" />
    <label for="difficulty_breathing">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="difficulty_breathing" value="5" />
    <label for="difficulty_breathing">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="difficulty_breathing" value="6" />
    <label for="difficulty_breathing">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="difficulty_breathing" value="7" />
    <label for="difficulty_breathing">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="difficulty_breathing" value="8" />
    <label for="difficulty_breathing">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="difficulty_breathing" value="9" />
    <label for="difficulty_breathing">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="difficulty_breathing" value="10" />
    <label for="difficulty_breathing">10</label>
  </div>




  <br />
  <p><strong>Fever</strong></p>
  <div>
    <input type="radio" id="1" name="fever" value="1"/>
    <label for="fever">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="fever" value="2" />
    <label for="fever">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="fever" value="3" />
    <label for="fever">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="fever" value="4" />
    <label for="fever">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="fever" value="5" />
    <label for="fever">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="fever" value="6" />
    <label for="fever">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="fever" value="7" />
    <label for="fever">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="fever" value="8" />
    <label for="fever">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="fever" value="9" />
    <label for="fever">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="fever" value="10" />
    <label for="fever">10</label>
  </div>




  <br />
  <p><strong>Chills</strong></p>
  <div>
    <input type="radio" id="1" name="chills" value="1"/>
    <label for="chills">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="chills" value="2" />
    <label for="chills">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="chills" value="3" />
    <label for="chills">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="chills" value="4" />
    <label for="chills">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="chills" value="5" />
    <label for="chills">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="chills" value="6" />
    <label for="chills">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="chills" value="7" />
    <label for="chills">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="chills" value="8" />
    <label for="chills">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="chills" value="9" />
    <label for="chills">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="chills" value="10" />
    <label for="chills">10</label>
  </div>





  <br />
  <p><strong>Muscle Pain</strong></p>
  <div>
    <input type="radio" id="1" name="muscle_pain" value="1"/>
    <label for="muscle_pain">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="muscle_pain" value="2" />
    <label for="muscle_pain">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="muscle_pain" value="3" />
    <label for="muscle_pain">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="muscle_pain" value="4" />
    <label for="muscle_pain">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="muscle_pain" value="5" />
    <label for="muscle_pain">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="muscle_pain" value="6" />
    <label for="muscle_pain">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="muscle_pain" value="7" />
    <label for="muscle_pain">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="muscle_pain" value="8" />
    <label for="muscle_pain">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="muscle_pain" value="9" />
    <label for="muscle_pain">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="muscle_pain" value="10" />
    <label for="muscle_pain">10</label>
  </div>





  <br />
  <p><strong>Sore Throat</strong></p>
  <div>
    <input type="radio" id="1" name="sore_throat" value="1"/>
    <label for="sore_throat">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="sore_throat" value="2" />
    <label for="sore_throat">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="sore_throat" value="3" />
    <label for="sore_throat">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="sore_throat" value="4" />
    <label for="sore_throat">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="sore_throat" value="5" />
    <label for="sore_throat">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="sore_throat" value="6" />
    <label for="sore_throat">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="sore_throat" value="7" />
    <label for="sore_throat">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="sore_throat" value="8" />
    <label for="sore_throat">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="sore_throat" value="9" />
    <label for="sore_throat">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="sore_throat" value="10" />
    <label for="sore_throat">10</label>
  </div>





  <br />
  <p><strong>Sudden Loss of Taste or Smell</strong></p>
  <div>
    <input type="radio" id="1" name="smell_or_taste_loss" value="1"/>
    <label for="smell_or_taste_loss">1</label>
  </div>
  <div>
    <input type="radio" id="2" name="smell_or_taste_loss" value="2" />
    <label for="smell_or_taste_loss">2</label>
  </div>
  <div>
    <input type="radio" id="3" name="smell_or_taste_loss" value="3" />
    <label for="smell_or_taste_loss">3</label>
  </div>
  <div>
    <input type="radio" id="4" name="smell_or_taste_loss" value="4" />
    <label for="smell_or_taste_loss">4</label>
  </div>
  <div>
    <input type="radio" id="5" name="smell_or_taste_loss" value="5" />
    <label for="smell_or_taste_loss">5</label>
  </div>
  <div>
    <input type="radio" id="6" name="smell_or_taste_loss" value="6" />
    <label for="smell_or_taste_loss">6</label>
  </div>
  <div>
    <input type="radio" id="7" name="smell_or_taste_loss" value="7" />
    <label for="smell_or_taste_loss">7</label>
  </div>
  <div>
    <input type="radio" id="8" name="smell_or_taste_loss" value="8" />
    <label for="smell_or_taste_loss">8</label>
  </div>
  <div>
    <input type="radio" id="9" name="smell_or_taste_loss" value="9" />
    <label for="smell_or_taste_loss">9</label>
  </div>
  <div>
    <input type="radio" id="10" name="smell_or_taste_loss" value="10" />
    <label for="smell_or_taste_loss">10</label>
  </div>
  <br />
  <input type="submit" name="submit" value="Create Case" />


</form>
