<!--form to create new covid case-->

<h2>Create a new Covid-19 case</h2>

<form class="" action="/cases" method="POST">

  <h4>Rate the following CDC-defined Covid-19 symptoms that you are experiencing on a scale from 1 - 10, where 1 is lowest in severity, and 10 is the highest.</h4>
  <br />
  <h5>You can read more about each of these symptoms <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank"> here.</a></h5>
  <br />

  <div>
    Cough: <input type="text" name="cough"/>
  </div>
  <br />

  <div>
    Difficulty Breathing: <input type="text" name="difficulty_breathing"/>
  </div>
  <br />

  <div>
    Fever: <input type="text" name="fever"/>
  </div>
  <br />

  <div>
    Chills: <input type="text" name="chills"/>
  </div>
  <br />

  <div>
    Muscle Pain: <input type="text" name="muscle_pain"/>
  </div>
  <br />

  <div>
    Sore Throat: <input type="text" name="sore_throat"/>
  </div>
  <br />

  <div>
    Sudden Loss of Taste or Smell: <input type="text" name="smell_or_taste_loss"/>
  </div>
  <br />

  <input type="submit" name="submit" value="Create Case" />


</form>
