<h1>Covid-19 Symptom Tracker</h1><br />
<br />
<br />
<h3>Sign Up</h3>
  <br />
  <br />

  <form class ="" action="/users" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" />

    <label for="email">E-mail: </label>
    <input type="text" name="email" />

    <label for="password">Password: </label>
    <input type="text" name="password" />


    <input type="submit" name="submit" value="Sign Up"
  </form>
